#!/bin/bash

##########################################
# Configure New Systam
##########################################

# linux
{{ if eq .chezmoi.os "linux" }}
{{ end }}

# darwin
{{ if eq .chezmoi.os "darwin" }}
{{ end }}
