#!/bin/bash

###########
## linux ##
###########
{{ if eq .chezmoi.os "linux" -}}

# Insatll Repository packages
echo "########## Install Repository packages ##########"
paru -S --noconfirm --needed {{ range .packages.linux.pacman }}{{ . }} {{ end -}}
# Install AUR packages
echo "########## Install AUR packages ##########"
paru -S --noconfirm --needed {{ range .packages.linux.aur }}{{ . }} {{ end -}}

sudo systemctl enable sddm

{{ end -}}


############
## darwin ##
############
{{ if eq .chezmoi.os "darwin" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
