#!/bin/bash
# linux
{{ if eq .chezmoi.os "linux" }}
##########################################
# Configure New Arch Linux
##########################################
#
# Setup pacman with color and parallel downloads
sed -i 's/#Color/Color/' /etc/pacman.conf
sed -i 's/#ParallelDownloads = 5/ParallelDownloads = 10/' /etc/pacman.conf
#
# Install base-devel, rust, chezmoi, git, reflector
sudo pacman -S --noconfirm --needed base-devel rust chezmoi git reflector
#
# Update mirrors
sudo reflector -f 30 -l 30 --number 10 --verbose --save /etc/pacman.d/mirrorlist
#
# Install AUR helper paru
git clone https://aur.archlinux.org/paru.git
cd paru
makepkg -si
#
# Install packages from pkglist.txt
paru -S --noconfirm --needed - < $(chezmoi source-path)/dot_config/pkglist.txt
#
# enable, start, configure tuned
#sudo systemctl enable --now tuned
# get current profile: tuned-adm active
# options are ouput of: tuned-adm list
#sudo tuned-adm profile virtual-host
{{ end }}
#
#
# darwin
{{ if eq .chezmoi.os "darwin" }}
{{ end }}
