#!/usr/bin/bash

###########
## linux ##
###########
{{ if eq .chezmoi.os "linux" -}}

# Insatlling Repository packages
echo "########## Install Repository packages ##########"
paru -S --noconfirm --needed {{ range .packages.linux.pacman }}{{ . }} {{ end -}}

# Installing AUR packages
echo "########## Install AUR packages ##########"
paru -S --noconfirm --needed {{ range .packages.linux.aur }}{{ . }} {{ end -}}

# Setting Plymouth Theme
echo "########## Setting Plymouth Theme ##########"
[[ "catppuccin-mocha" != $(plymouth-set-default-theme) ]] && \
sudo plymouth-set-default-theme -R catppuccin-mocha
sudo grep -q 'DeviceScale=an-integer-scaling-factor' /etc/plymouth/plymouthd.conf || \
sudo sed -i '/^\[Daemon\]/a DeviceScale=an-integer-scaling-factor' /etc/plymouth/plymouthd.conf

# Setting up mkinitcpio to add plymouth
sudo sed -i '/^HOOKS/ { /systemd/ { /plymouth/!s/\(systemd\)/\1 plymouth/ }; /systemd/! { /plymouth/!s/\(base\)/\1 plymouth/ } }' /etc/mkinitcpio.conf

# enable splash in kernel parameters
for entry in /boot/loader/entries/*.conf; do
    [[ "$entry" != *fallback* ]] && \
    sudo sed -i '/^options/ {/splash/!s/\(options .*\)/\1 splash quiet/}' "$entry"
done

# Change timeout for systemd-boot
sudo sed -i 's/^timeout .*/timeout 1/' /boot/loader/loader.conf

# Slow down boot to display Plymouth
sudo tee /etc/systemd/system/plymouth-wait-for-animation.service <<EOF
[Unit]
Description=Waits for Plymouth animation to finish
Before=plymouth-quit.service display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sleep 3

[Install]
WantedBy=plymouth-start.service
EOF

# Set default Cursor theme
echo "########## Setting Cursor Theme ##########"
[[ ! -d "~/.local/share/icons" ]] && mkdir -p ~/.local/share/icons
[[ ! -L "default" && ! -d "default" ]] && ln -s /usr/share/icons/Colloid-dark-cursors ~/.local/share/icons/default

# sddm theme settings
echo -e "\n##########   Setting SDDM theme   ##########"
sudo mkdir -p /etc/sddm.conf.d
echo -e '[Theme]\nCurrent=catppuccin-mocha' | sudo tee /etc/sddm.conf.d/settings.conf
sddm_theme_conf="/usr/share/sddm/themes/catppuccin-mocha/theme.conf"
sudo sed -i 's/^FontSize=.*\b/FontSize=16/' $sddm_theme_conf
sudo sed -i 's/^Background=".*"/Background=""/' $sddm_theme_conf

# Activate services
echo "########## Final Setup ##########"
# enable services
sudo systemctl enable --now pacman-filesdb-refresh.timer
sudo systemctl enable sddm
sudo systemctl enable plymouth-wait-for-animation
bat cache --build

echo \
'##########  Install Complete ##########
You should now reboot your system to apply changes.'

{{ end -}}


############
## darwin ##
############
{{ if eq .chezmoi.os "darwin" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

echo "########## Final Setup ##########"
bat cache --build
{{ end -}}
