#!/bin/bash

# linux
{{ if eq .chezmoi.os "linux" }}

# Install paru
git clone https://aur.archlinux.org/paru.git
cd paru
makepkg -si

# Install packages from pkglist.txt

#paru -S --noconfirm --needed - < $(chezmoi source-path)/dot_config/pkglist.txt

# Install AUR packages
#paru -S

# enable, start, configure tuned
#sudo systemctl enable --now tuned
# get current profile: tuned-adm active
# options are ouput of: tuned-adm list
#sudo tuned-adm profile virtual-host


{{ end }}


# darwin
{{ if eq .chezmoi.os "darwin" }}
{{ end }}
