#!/bin/bash

# linux
{{ if eq .chezmoi.os "linux" }}

# Install yay
# pacman -S git base-devel
# git clone https://aur.archlinux.org/yay.git
# cd yay
# makepkg -si

# Install packages from pkglist.txt

yay -S --noconfirm --needed - < $(chezmoi source-path)/dot_config/pkglist.txt

# Install AUR packages
#yay -S

# enable, start, configure tuned
sudo systemctl enable --now tuned
# get current profile: tuned-adm active
# options are ouput of: tuned-adm list
sudo tuned-adm profile virtual-host


{{ end }}


# darwin
{{ if eq .chezmoi.os "darwin" }}
{{ end }}
