#!/usr/bin/zsh
##########
## Path ##
##########

# Set $PATH if ~/.local/bin exist
if [ -d "$HOME/.local/bin" ]; then
  typeset -U path PATH
  path=(~/.local/bin $path)
  export PATH
fi


#################
## environment ##
#################

# ZSH
export ZDOTDIR="${XDG_CONFIG_HOME:-$$HOME/.config}/zsh/"
export HISTFILE="${XDG_CACHE_HOME:-$HOME/.cache}/zsh/zhistory"
export HISTSIZE=50000
export SAVEHIST=10000

# git variables
export GIT_AUTHOR_EMAIL={{ .email }}
export GIT_AUTHOR_NAME={{ .name }}
export GIT_EDITOR="vim"
export GIT_BRANCH="main"

# eza (ls replacement)
export eza_params=('--git' '--icons' '--classify' '--group-directories-first' '--group')

# FZF
export FZF_DEFAULT_OPTS=" \
--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
--color=marker:#b4befe,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8 \
--color=selected-bg:#45475a \
--multi"

# With out this Starship shifts the prompt over 2 chars when pressing tab.
export LC_ALL=en_CA.UTF-8

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
  export VISUAL='code --wait'
else
  export EDITOR='vim'
  export VISUAL='code --wait'
fi

# Bat colorizing pager for manpages and help
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
alias -g -- -h='-h 2>&1 | bat --language=help --style=plain'
alias -g -- --help='--help 2>&1 | bat --language=help --style=plain'

#############
## Plugins ##
#############

# Set Window Title
function set_win_title(){
    echo -ne "\033]0; $USER@$HOST:${PWD/$HOME/~} \007"
}
precmd_functions+=(set_win_title)

# zsh plugin path
zpath="/usr/share/zsh/plugins"

# fast syntax highlighting
[[ -e "$zpath/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh" ]] \
&&
source "$zpath/fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh"

# autosuggestion
[[ -e "$zpath/zsh-autosuggestions/zsh-autosuggestions.plugin.zsh"  ]] \
&&
source "$zpath/zsh-autosuggestions/zsh-autosuggestions.plugin.zsh"

# history substring search
[[ -e "$zpath/zsh-history-substring-search/zsh-history-substring-search.zsh" ]] \
&&
source "$zpath/zsh-history-substring-search/zsh-history-substring-search.zsh"

# fzf
[[ -e /usr/share/fzf/key-bindings.zsh ]] && source /usr/share/fzf/key-bindings.zsh
[[ -e /usr/share/fzf/completion.zsh ]] && source /usr/share/fzf/completion.zsh


# Completions
autoload -Uz compinit && compinit
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}'       # Case insensitive tab completion
zstyle ':completion:*' rehash true                              # automatically find new executables in path
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"         # Colored completion (different colors for dirs/files/etc)
zstyle ':completion:*' completer _expand _complete _ignored _approximate
zstyle ':completion:*' menu select
zstyle ':completion:*' select-prompt '%SScrolling active: current selection at %p%s'
zstyle ':completion:*:descriptions' format '%U%F{cyan}%d%f%u'
zstyle ':completion::complete:*' gain-privileges 1
# Speed up completions
zstyle ':completion:*' accept-exact '*(N)'
zstyle ':completion:*' use-cache on
zstyle ':completion:*' cache-path ~/.cache/zcache


#############
## Options ##
#############

setopt inc_append_history               # Immediately append history instead of overwriting
setopt share_history                    # Share history between sessions
setopt hist_ignore_dups                 # Ignore duplicates in history
setopt hist_ignore_all_dups             # If a new command is a duplicate, remove the older one
setopt hist_save_no_dups                # Don't save duplicates in history
setopt hist_find_no_dups                # Don't display duplicates when searching history
setopt hist_ignore_space                # Ignore commands that start with a space
setopt extended_glob                    # Extended globbing. Allows using regular expressions with *
setopt no_case_glob                     # Case insensitive globbing
setopt rc_expand_param                  # Array expension with parameters
setopt no_check_jobs                    # Don't warn about running processes when exiting
setopt numeric_glob_sort                # Sort filenames numerically when it makes sense
setopt no_beep                          # Disable beep
setopt auto_cd                          # Automatically cd into a directory if it's the only argument


#############
## aliases ##
#############

# eza
alias l='eza --header $eza_params'
alias ll='eza --header --long $eza_params'
alias ls='eza --all --header --long $eza_params'
alias la='eza -lbhHigUmuSa'
alias lt='eza --tree $eza_params'
alias tree='eza --tree $eza_params'

# ip
alias ip='ip -c'
alias ipbr='ip -br -c addr show'

# virtualenv
alias aenv='source .venv/bin/activate'
alias denv='deactivate'

# Python
alias uvi='uv init'
alias uvs='uv sync'
alias uvp='uv pip'

# Misc
alias cat='bat'
alias cdc='cd $HOME/Developer'
alias sc='source $HOME/.zshrc'
alias c='clear'
alias fixpacman="sudo rm /var/lib/pacman/db.lck"
alias tarnow='tar -acf '
alias untar='tar -zxvf '
alias wget='wget -c '
alias rmpkg='sudo pacman -Rcns '
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias grep='grep --color=auto'
alias fgrep='grep -F --color=auto'
alias egrep='grep -E --color=auto'
alias hw='hwinfo --short'                               # Hardware Info

# Chezmoi
alias cz='chezmoi '
alias czcd='chezmoi cd'
alias cza='chezmoi add '
alias czra='chezmoi re-add '
alias czu='chezmoi update'
alias czap='chezmoi apply'
alias cze='chezmoi edit --apply '
alias czs='chezmoi status'
alias czd='chezmoi doctor'
alias czf='chezmoi forget '

# Get fastest mirrors
alias drop-caches='sudo paccache -rk3; paru -Sc --aur --noconfirm'
alias update-mirrors='export TMPFILE="$(mktemp)"; \
    sudo true; \
    rate-mirrors --save=$TMPFILE arch --disable-comments-in-file --entry-country=CA --protocol=https --max-delay=7200 \
      && sudo mv /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist-backup \
      && sudo mv $TMPFILE /etc/pacman.d/mirrorlist \
      && drop-caches \
      && paru -Syyu --noconfirm'
alias mirrors="rate-mirrors arch | sudo tee /etc/pacman.d/mirrorlist"


###############
## Functions ##
###############

# Image Manipulation remove exif data
cimg(){
  exiftool -overwrite_original -all= $1
}

# Docker Compose
# Start attached
dcup() {
  if [ $1 ]; then
    docker-compose -f $1 up --build
  else
    docker-compose up --build
  fi
}
# Start Detached
dcupd() {
  if [ $1 ]; then
    docker-compose -f $1 up --build -d
  else
    docker-compose up --build -d
  fi
}

# command not found handler
function command_not_found_handler {
    local purple='\e[1;35m' bright='\e[0;1m' green='\e[1;32m' reset='\e[0m'
    printf 'zsh: command not found: %s\n' "$1"
    local entries=(
        ${(f)"$(/usr/bin/pacman -F --machinereadable -- "/usr/bin/$1")"}
    )
    if (( ${#entries[@]} ))
    then
        printf "${bright}$1${reset} may be found in the following packages:\n"
        local pkg
        for entry in "${entries[@]}"
        do
            # (repo package version file)
            local fields=(
                ${(0)entry}
            )
            if [[ "$pkg" != "${fields[2]}" ]]
            then
                printf "${purple}%s/${bright}%s ${green}%s${reset}\n" "${fields[1]}" "${fields[2]}" "${fields[3]}"
            fi
            printf '    /%s\n' "${fields[4]}"
            pkg="${fields[2]}"
        done
    fi
    return 127
}


###############
## GIT setup ##
###############

if [[ -z $(git config --get user.name) || -z $(git config --get user.email) || -z $(git config --get core.editor) ]]; then
  git config --global user.name "$GIT_AUTHOR_NAME"
  git config --global user.email "$GIT_AUTHOR_EMAIL"
  git config --global core.editor "$GIT_EDITOR"
  git config --global init.defaultBranch "$GIT_BRANCH"
  git config --global pull.rebase true
fi


# ##########
# ## Keys ##
# ##########
# # Use emacs key bindings
# bindkey -e

# # [PageUp] - Up a line of history
# if [[ -n "${terminfo[kpp]}" ]]; then
#   bindkey -M emacs "${terminfo[kpp]}" up-line-or-history
#   bindkey -M viins "${terminfo[kpp]}" up-line-or-history
#   bindkey -M vicmd "${terminfo[kpp]}" up-line-or-history
# fi
# # [PageDown] - Down a line of history
# if [[ -n "${terminfo[knp]}" ]]; then
#   bindkey -M emacs "${terminfo[knp]}" down-line-or-history
#   bindkey -M viins "${terminfo[knp]}" down-line-or-history
#   bindkey -M vicmd "${terminfo[knp]}" down-line-or-history
# fi

# # Start typing + [Up-Arrow] - fuzzy find history forward
# if [[ -n "${terminfo[kcuu1]}" ]]; then
#   autoload -U up-line-or-beginning-search
#   zle -N up-line-or-beginning-search

#   bindkey -M emacs "${terminfo[kcuu1]}" up-line-or-beginning-search
#   bindkey -M viins "${terminfo[kcuu1]}" up-line-or-beginning-search
#   bindkey -M vicmd "${terminfo[kcuu1]}" up-line-or-beginning-search
# fi
# # Start typing + [Down-Arrow] - fuzzy find history backward
# if [[ -n "${terminfo[kcud1]}" ]]; then
#   autoload -U down-line-or-beginning-search
#   zle -N down-line-or-beginning-search

#   bindkey -M emacs "${terminfo[kcud1]}" down-line-or-beginning-search
#   bindkey -M viins "${terminfo[kcud1]}" down-line-or-beginning-search
#   bindkey -M vicmd "${terminfo[kcud1]}" down-line-or-beginning-search
# fi

# # [Home] - Go to beginning of line
# if [[ -n "${terminfo[khome]}" ]]; then
#   bindkey -M emacs "${terminfo[khome]}" beginning-of-line
#   bindkey -M viins "${terminfo[khome]}" beginning-of-line
#   bindkey -M vicmd "${terminfo[khome]}" beginning-of-line
# fi
# # [End] - Go to end of line
# if [[ -n "${terminfo[kend]}" ]]; then
#   bindkey -M emacs "${terminfo[kend]}"  end-of-line
#   bindkey -M viins "${terminfo[kend]}"  end-of-line
#   bindkey -M vicmd "${terminfo[kend]}"  end-of-line
# fi

# # [Shift-Tab] - move through the completion menu backwards
# if [[ -n "${terminfo[kcbt]}" ]]; then
#   bindkey -M emacs "${terminfo[kcbt]}" reverse-menu-complete
#   bindkey -M viins "${terminfo[kcbt]}" reverse-menu-complete
#   bindkey -M vicmd "${terminfo[kcbt]}" reverse-menu-complete
# fi

# # [Backspace] - delete backward
# bindkey -M emacs '^?' backward-delete-char
# bindkey -M viins '^?' backward-delete-char
# bindkey -M vicmd '^?' backward-delete-char
# # [Delete] - delete forward
# if [[ -n "${terminfo[kdch1]}" ]]; then
#   bindkey -M emacs "${terminfo[kdch1]}" delete-char
#   bindkey -M viins "${terminfo[kdch1]}" delete-char
#   bindkey -M vicmd "${terminfo[kdch1]}" delete-char
# else
#   bindkey -M emacs "^[[3~" delete-char
#   bindkey -M viins "^[[3~" delete-char
#   bindkey -M vicmd "^[[3~" delete-char

#   bindkey -M emacs "^[3;5~" delete-char
#   bindkey -M viins "^[3;5~" delete-char
#   bindkey -M vicmd "^[3;5~" delete-char
# fi

# typeset -g -A key
# if (( ${+terminfo[smkx]} && ${+terminfo[rmkx]} )); then
# 	autoload -Uz add-zle-hook-widget
# 	function zle_application_mode_start { echoti smkx }
# 	function zle_application_mode_stop { echoti rmkx }
# 	add-zle-hook-widget -Uz zle-line-init zle_application_mode_start
# 	add-zle-hook-widget -Uz zle-line-finish zle_application_mode_stop
# fi

# # Control Left - go back a word
# key[Control-Left]="${terminfo[kLFT5]}"
# if [[ -n "${key[Control-Left]}"  ]]; then
# 	bindkey -M emacs "${key[Control-Left]}"  backward-word
# 	bindkey -M viins "${key[Control-Left]}"  backward-word
# 	bindkey -M vicmd "${key[Control-Left]}"  backward-word
# fi

# # Control Left - go forward a word
# key[Control-Right]="${terminfo[kRIT5]}"
# if [[ -n "${key[Control-Right]}" ]]; then
# 	bindkey -M emacs "${key[Control-Right]}" forward-word
# 	bindkey -M viins "${key[Control-Right]}" forward-word
# 	bindkey -M vicmd "${key[Control-Right]}" forward-word
# fi

# # Alt Left - go back a word
# key[Alt-Left]="${terminfo[kLFT3]}"
# if [[ -n "${key[Alt-Left]}"  ]]; then
# 	bindkey -M emacs "${key[Alt-Left]}"  backward-word
# 	bindkey -M viins "${key[Alt-Left]}"  backward-word
# 	bindkey -M vicmd "${key[Alt-Left]}"  backward-word
# fi

# # Alt Right - go forward a word
# key[Alt-Right]="${terminfo[kRIT3]}"
# if [[ -n "${key[Alt-Right]}" ]]; then
# 	bindkey -M emacs "${key[Alt-Right]}" forward-word
# 	bindkey -M viins "${key[Alt-Right]}" forward-word
# 	bindkey -M vicmd "${key[Alt-Right]}" forward-word
# fi


###############
## tty Theme ##
###############

if [ "$TERM" = "linux" ]; then
	printf %b '\e[40m' '\e[8]' # set default background to color 0 'dracula-bg'
	printf %b '\e[37m' '\e[8]' # set default foreground to color 7 'dracula-fg'
	printf %b '\e]P0282a36'    # redefine 'black'          as 'dracula-bg'
	printf %b '\e]P86272a4'    # redefine 'bright-black'   as 'dracula-comment'
	printf %b '\e]P1ff5555'    # redefine 'red'            as 'dracula-red'
	printf %b '\e]P9ff7777'    # redefine 'bright-red'     as '#ff7777'
	printf %b '\e]P250fa7b'    # redefine 'green'          as 'dracula-green'
	printf %b '\e]PA70fa9b'    # redefine 'bright-green'   as '#70fa9b'
	printf %b '\e]P3f1fa8c'    # redefine 'brown'          as 'dracula-yellow'
	printf %b '\e]PBffb86c'    # redefine 'bright-brown'   as 'dracula-orange'
	printf %b '\e]P4bd93f9'    # redefine 'blue'           as 'dracula-purple'
	printf %b '\e]PCcfa9ff'    # redefine 'bright-blue'    as '#cfa9ff'
	printf %b '\e]P5ff79c6'    # redefine 'magenta'        as 'dracula-pink'
	printf %b '\e]PDff88e8'    # redefine 'bright-magenta' as '#ff88e8'
	printf %b '\e]P68be9fd'    # redefine 'cyan'           as 'dracula-cyan'
	printf %b '\e]PE97e2ff'    # redefine 'bright-cyan'    as '#97e2ff'
	printf %b '\e]P7f8f8f2'    # redefine 'white'          as 'dracula-fg'
	printf %b '\e]PFffffff'    # redefine 'bright-white'   as '#ffffff'
	clear
fi


############
## Addons ##
############

# Load Starship
eval "$(starship init zsh)"

# Setup Direnv
eval "$(direnv hook zsh)"

# Run neofetch
fastfetch

#############
##   EOF   ##
#############
