[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig
[user]
	name = {{ gitname }}
	email = {{ email }}
[core]
	editor = vim
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
    pager = delta
[delta]
    features = catppuccin-mocha
