#!/bin/bash

# Insatll Repositorie packages
paru -S --noconfirm --needed {{ range .packages.linux.pacman }}{{ . }} {{ end -}}
# Install AUR packages
paru -S --noconfirm --needed {{ range .packages.linux.aur }}{{ . }} {{ end -}};

