[Desktop Entry]
Version=1.0
Name=Win11
Comment=Starts the VirtualBox machine Win11
Type=Application
Exec=/usr/lib/virtualbox/VirtualBoxVM --comment "Win11" --startvm"
