# Use Default Displays

# Workspace config
{{ if eq .machine_location "home" -}}
monitor = DP-4, 2560x1440@165, 0x0, 1
monitor = DP-5, 2560x1440@75, 2560x0, 1
{{ end -}}
{{ if eq .machine_location "work" -}}
{{ end -}}
{{ if eq .machine_location "work" -}}
monitor = DP-2, 2560x1440@75, 0x0, 1
monitor = DP-3, 2560x1440@75, 2560x0, 1
{{ end -}}
