# Workspace config
{{ if eq .machine_location "home" -}}
$leftDisplay    = DP-2
$centerDisplay  = DP-1
$rightDisplay    = HDMI-A-1
{{ end -}}
{{ if eq .machine_location "work" -}}
$leftDisplay    = DP-2
$rightDisplay   = DP-3
{{ end -}}

workspace = 1,  monitor:$centreDisplay, on-created-empty:$browser
workspace = 2,  monitor:$centerDisplay, on-created-empty:$terminal
workspace = 3,  monitor:$centerDisplay, on-created-empty:$editor
workspace = 4,  monitor:$centerDisplay, on-created-empty:$vm
workspace = 5,  monitor:$centerDisplay

workspace = 6,  monitor:$leftDisplay,   on-created-empty:$browser
workspace = 7,  monitor:$leftDisplay,   on-created-empty:$terminal
workspace = 8,  monitor:$leftDisplay,   on-created-empty:$editor
workspace = 9,  monitor:$leftDisplay,   on-created-empty:$fileManager
workspace = 10, monitor:$leftDisplay

workspace = 11, monitor:$rightDisplay,  on-created-empty:$chat
workspace = 12, monitor:$rightDisplay,  on-created-empty:$music
workspace = 13, monitor:$rightDisplay,  on-created-empty:$email
workspace = 14, monitor:$rightDisplay,  on-created-empty:$launcher
