# Workspace config
{{ if eq .machine_location "home" -}}
$leftDisplay    = DP-2
$centerDisplay  = DP-1
$rightDisplay    = HDMI-A-1
{{ end -}}
{{ if eq .machine_location "work" -}}
$leftDisplay    = DP-2
$rightDisplay   = DP-3
{{ end -}}

workspace = 1,  monitor:$centreDisplay
workspace = 2,  monitor:$centerDisplay
workspace = 3,  monitor:$centerDisplay
workspace = 4,  monitor:$centerDisplay
workspace = 5,  monitor:$centerDisplay

workspace = 6,  monitor:$leftDisplay
workspace = 7,  monitor:$leftDisplay
workspace = 8,  monitor:$leftDisplay
workspace = 9,  monitor:$leftDisplay
workspace = 10, monitor:$leftDisplay

workspace = 11, monitor:$rightDisplay
workspace = 12, monitor:$rightDisplay
workspace = 13, monitor:$rightDisplay
workspace = 14, monitor:$rightDisplay
