[Desktop Entry]
Name=Keychron Editor
Comment=Edit Keychron keyboard layout.
Type=Application
Categories=Utility
Icon=keyboard-layout
Terminal=1
Path=.local/bin
Exec=keychron_edit
